/***** HEADER *****/
#global-header [class^='icon-'],
#global-header [class*=' icon-'] {
	color: #000;
}

#global-header {
	border-bottom: 1px solid #e8e8e8;
	background-color: #fff;
	color: #000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 50000;
}

#global-header .container {
	width: 100%;
	height: 45px;
	line-height: 45px;
	display: block;
}

#header-left {
	float: left;
}

#header-logo {
	background: transparent url(../images/logo.png) no-repeat center center/auto 28px;
	width: 148px;
	height: 100%;
	font-size: 0px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#header-right {
	float: right;
}

#header-search {
	position: relative;
	height: 25px;
	margin: 11px 10px 0 0;
}

#headerSearch-input {
	width: inherit;
}

#headerSearch-button {
	margin: 0;
	padding: 0 5px;
	background: #e8e8e8;
	border: 0 none;
	font-size: 18px;
	line-height: 25px;
}

#header-user {
	width: 30px;
	vertical-align: middle;
}

#header-user-menu {
	left: auto;
	right: 0;
	top: 90%;
}