#home {
	position: relative;
}

#home-login {
	transition: all .4s ease;
	background-color: $bgColor;
	height: 300px;
	position: relative;
}

#home-login #login {
	position: absolute;
	width: 300px;
	height: 190px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#home-login.ui-scrollfix {
	padding: 5px 0;
	height: 50px;
	width: 100%;
	position: fixed;
	top: 45px;
}

#home-login.ui-scrollfix .formLabel,
#home-login.ui-scrollfix .formInput {
	display: inline-block;
	vertical-align: top;
	line-height: 50px;
}

#home-login.ui-scrollfix #login {
	width: auto;
	height: inherit;
}

#home-login.ui-scrollfix #login .formInput {
	margin: 10px;
}

#home-login.ui-scrollfix #login .formSubmit {
	margin-top: 7px;
}