<h2 class="title">Create</h2>
<form id="create" name="formCreate" data-ng-submit="submit(formCreate.$invalid)" novalidate>
	<div class="form-group">
		<label>Name</label>
		<input type="text" placeholder="Give your Dashboard a name" data-ng-model="createForm.name" required>
	</div>
	<div class="form-group">
		<label>Description</label>
		<textarea placeholder="What is your Dashboard about?" data-ng-model="createForm.description"></textarea>
	</div>
	<form-switch id="createForm-private" checked="true"></form-switch>
	<button class="form-button cancel">Cancel</button>
	<button type="submit" class="form-button submit" data-ng-disabled="formCreate.$invalid">Create Dashboard</button>
</form>
<!--
<form id="create" name="formCreate" data-ng-class="{'extend': showForm}" data-ng-submit="create(formCreate.$valid)" novalidate>
		<div class="container">
			<div id="create-form" data-ng-show="showForm">
				<div class="form-group">
					<label>Name</label>
					<input type="text" placeholder="Title" data-ng-model="createForm.name" required>
				</div>
				<div class="form-group">
					<label>Description</label>
					<input type="text" placeholder="Description" data-ng-model="createForm.description">
				</div>
				<button type="submit" class="submit icon-arrow-right2" data-ng-disabled="formCreate.$invalid"></button>
			</div>
		</div>
	</form>
-->