<div data-ng-controller="dashboardListCtrl" id="dashboards">
	<div id="list" data-ng-class="{'shrink': sideNav}">
		<h2 class="title">Dashboards</h2>
	
		<div id="dashboard-{{dashboard.id}}" class="tile" data-ng-repeat="dashboard in dashboards">
			{{dashboard.name}}
			<a data-ui-sref="dashboard.editor({id:'{{dashboard.id}}'})">Link</a>
		</div>	
	</div>
	
	<div id="create" data-ng-class="{'extend': sideNav}">
		<div id="create-btn" data-ng-click="create()"></div>
		<div data-ng-show="sideNav">
			<h2 class="title">Create</h2>
		</div>
	</div>
</div>