<div data-ng-controller="dashboardListCtrl" id="dashboards">
	<div id="create-btn" data-ng-class="{'extend': showForm}" data-ng-click="toggle()">
		<span data-ng-show="!showForm">Create</span>
		<span data-ng-show="showForm">Close</span>
	</div>
	<form id="create" data-ng-class="{'extend': showForm}" data-ng-submit="create()" data-ng-model="createForm">
		<div class="container">
			<div id="create-form" data-ng-show="showForm">
				<label>Name</label>
				<input type="text" placeholder="Title" data-ng-model="createForm.name"/>
				<label>Description</label>
				<input type="text" placeholder="Description" data-ng-model="createForm.description"/>
				<span class="submit icon-arrow-right2" data-ng-submit="create()"></span>
			</div>
		</div>
	</form>
	<div id="list" data-ng-class="{'extend': showForm}">
		<div id="dashboard-{{dashboard.id}}" class="tile" data-ng-repeat="dashboard in dashboards">
			{{dashboard.name}}
			<a data-ui-sref="dashboard.editor({id:'{{dashboard.id}}'})">Link</a>
		</div>	
	</div>
</div>