<div data-ng-controller="dashboardListCtrl" id="dashboards">
	<header id="toolbar">
		<div id="create-btn" data-ng-click="create()"></div>
		<h2 id="title">Dashboards</h2>
	</header>
	<div id="list" data-ng-class="{'extend': showForm}">
		<div id="dashboard-{{dashboard.id}}" class="tile" data-ng-repeat="dashboard in dashboards">
			{{dashboard.name}}
			<a data-ui-sref="dashboard.editor({id:'{{dashboard.id}}'})">Link</a>
		</div>	
	</div>
	<div id="create" data-ng-include src="dashboardCreate"></div>
</div>