#admin,
#dashboards {
	height: 100%;
}

#dashboards {
	$duration: .3s;
	$createWidth: $gridUnit * 4;
	
	.title {
		@extend .shadow;
		
		width: 100%;
		background-color: $colorPrimary;
		font-size: 1.8em;
		text-indent: $gridUnit * 5;
		
		@include height($gridToolbarSecondary);
	}
	
	
	#list {
		@extend .left;
		@extend .transition;
		
		width: 90%;
		width: calc(100% - #{$createWidth});
		height: 100%;
		transition-duration: $duration;
		
		&.sideNav-create {
			width: 70%;
		}
		
		&.sideNav-info {
			width: 30%;
		}
				
		.tile {
			@extend .inline;
			@extend .transition;
			
			position: relative;
			background-color: #fff;
			min-width: $gridUnit * 23;
			width: calc(100%/4 - #{$gridUnit});
			height: $gridUnit * 28;
			margin: $gridUnit $gridUnit/2 0;
			overflow: hidden;
			
			&:hover {
				box-shadow: 0 0 $gridUnit*2 rgba(#000, .5);
			}
			
			.thumb {
				@extend .hover;
				/* width: 100%; */
			}
			
			.info {
				position: absolute;
				bottom: 0;
				width: 100%;
				background-color: rgba($colorPrimary, .9);
				text-indent: $gridUnit * 2;
				font-size: 1.3em;
				
				@include height($gridUnit * 6);
				
				.menu {
					@extend .hover;
					@extend .transition;
					
					position: absolute;
					right: $gridUnit * 2;
				}
			}
		}
	}
	
	#sideNav {
		@extend .left;
		@extend .transition;
		
		position: relative;
		height: 100%;
		width: $createWidth;
		transition-duration: $duration;
		background-color: $colorPrimaryLight;
		
		@include shadow('left');
		
		&.sideNav-create {
			width: 30%;
		}
		
		&.sideNav-info {
			width: 70%;
		}
		
		&[class^='sideNav-'] {
			#sideNav-btn {
				transform-origin: center;
				transform: rotate(45deg);
			}
		}
		
		.title {
			box-shadow: none;
			background-color: $colorAccentLight;
		}
		
		#sideNav-btn {
			$radius: $gridUnit * 6;

			@extend .hover;
			
			position: absolute;
			left: -$radius/2;
			top: 50%;
			transform: translate(auto, -50%);
			z-index: map-get($gridZIndex, top);
			
			@include circle($radius, $colorAccent);
			@include shadow('all', .3);
			
			&:after {
				display: block;
				content: '+';
				font-size: 2.5em;
				text-align: center;
				line-height: $radius;
			}
		}
		
	}
	
	#create {
		color: $textColorInverse;
		padding: $gridUnit * 2 $gridUnit * 6;
		position: relative;
		
		.submit {
			@extend .right;
			@extend .clear;
		}
		
		#createForm-private {
			@include switch($gridUnit * 7, $gridUnit/2, $gridUnit * 3, $colorAccentLight, $colorAccentLight, $colorAccent, $colorPrimaryLight);
		}
	}
}