#home {
	position: relative;
}

#home-login {
	background-color: $colorPrimaryLight;
	transition: all .2s ease;
	height: 300px;
	position: relative;
}

#home-login.ui-scrollfix {
	padding: 5px 0;
	height: 50px;
	width: 100%;
	position: fixed;
	top: 45px;
}

