#dashboards {
	#create {
		@include toolbar($toolbarSecondaryHeight, $bgSecondary);
		@extend .transition;
		@extend .shadow;
		
		position: fixed;
		top: $toolbarPrimaryHeight;
		z-index: map-get($zindex, toolbarSecondary);
		
		&.extend {
			height: 150px;
		}
		
		#create-expand {
			@extend .hover;
			text-align: center;
			position: absolute;
			bottom: 0;
			width: 100%;
			line-height: $toolbarSecondaryHeight;
			height: $toolbarSecondaryHeight;
			font-weight: bold;
			color: $colorPrimary;
		}
	}
	#list {
		@extend .container;
		@extend .transition;
		
		text-align: center;
		
		margin-top: $toolbarSecondaryHeight + 10px;
		
		&.extend {
			margin-top: 160px;
		}
		
		.tile {
			@extend .left;
			background-color: $colorAccentLight;
			margin: 2px;
			/* width: 300px; */
			width: calc(33.3333% - 4px);
			height: 200px;
			display: block;
			
/*
			&:nth-child(2n+2) {
				width: 385px;
			}
*/
			
			&:hover {
				@extend .tile-hover;
			}
		}	
	}
}