$createExtendHeight: 150px;
$createBtn: 35px;

#dashboards {
	#create-btn {
		@extend .transition;
		@extend .hover;
		@include circle($createBtn, $colorAccent);
		position: absolute;
		font-size: 0;
		left: 50%;
		margin-left: -$createBtn/2;
		top: $toolbarPrimaryHeight - $createBtn/2;
		z-index: map-get($zindex, top);
		
		&:after {
/*
			content: '>';
			display: block;
			left: 0;
			top: 0;
			width: 20px;
			height: 20px;
			position: absolute;
*/		
		}
		
		&.extend {
			top: $createExtendHeight + $toolbarPrimaryHeight - $createBtn/2;
		}
	}
	
	#create {
		@include toolbar($toolbarSecondaryHeight, $bgSecondary);
		@extend .transition;
		@extend .shadow;
		
		position: fixed;
		top: $toolbarPrimaryHeight;
		height: 0;
		z-index: map-get($zindex, toolbarSecondary);
		
		&.extend {
			height: $createExtendHeight;
		}
		
		#create-form {
			text-align: center;
			color: $whiteText;
			border-color: $whiteText;
			
			.submit {
				@extend .hover;
			}
		}
	}
	#list {
		@extend .container;
		@extend .transition;
		
		text-align: center;
		
		margin-top: $toolbarSecondaryHeight + 10px;
		
		&.extend {
			margin-top: $createExtendHeight + 10px;
		}
		
		.tile {
			@extend .left;
			background-color: $colorAccentLight;
			margin: 2px;
			/* width: 300px; */
			width: calc(33.3333% - 4px);
			height: 200px;
			display: block;
			
/*
			&:nth-child(2n+2) {
				width: 385px;
			}
*/
			
			&:hover {
				@extend .tile-hover;
			}
		}	
	}
}