#global-header {
	background-color: $colorPrimaryDark;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: map-get($gridZIndex, toolbarPrimary);
	height: $gridToolbarPrimary;
	line-height: $gridToolbarPrimary;
	
	.logo {
		@extend .left;
		font-family: 'VentureLogo';
		font-weight: bold;
		font-size: 1.5em;
		color: $colorAccent;
		letter-spacing: 5px;
		padding: 0 10px;
		height: inherit;
	}
	
	#profile {
		position: relative;
		height: $gridToolbarPrimary;
		
		.dropdown-toggle {
			$size: $gridUnit * 4;
			@extend .hover;
			@extend .alignMiddle;
			
			position: relative;
			width: $size;
			height: $size;
			border-radius: 50%;
			overflow: hidden;
			
			.avatar {
				@extend .alignMiddle;
				width: $size;
				position: absolute;
			}
		}
		
		.dropdown-menu {
			@extend .shadow;
			
			z-index: map-get($gridZIndex, modal);
			background-color: #fff;
			margin: 0;
			padding: 0;
			left: auto;
			right: 0px;
			top: 12px;
			width: 165px;
			
			li {
				margin: 5px 0;
				a {
				}
			}
		}
	}
}