$lightGray: #e8e8e8;
$bgGray: #f1f1f1;
$bgBlue: blue;
$bgAccent: #ff9e80;


$borderColor: $lightGray;
$bgColor: $bgGray;

$hoverOpacity: .7s;

/***** SASS *****/
$teal500: #009688;
$teal900: #004d40;
$teal100: #b2dfdb;

$cyan500: #00bcd4;
$cyan900: #006064;
$cyan50: #e0f7fa;

$indigo500: #3f51ba;
$indigo900: #1a237e;
$indigo200: #9fa8da;

$deepOrange500: #ff5722;
$deepOrangeA100: #ff9e80;
$deepOrange700: #dd2c00;

$colorPrimary: $deepOrange500;
$colorPrimaryDark: $deepOrange700;
$colorPrimaryLight: $deepOrangeA100;

$colorAccent: $cyan500;
$colorAccentDark: $cyan900;
$colorAccentLight: $cyan50;

$bgPrimary: #fafafa;
$bgSecondary: #eee;

$blackText: rgba(0, 0, 0, .87);
$blackTextSecondary: rgba(0, 0, 0, .54);
$blackHint: rgba(0, 0, 0, .26);
$blackDivider: rgba(0, 0, 0, .12);

$whiteText: rgba(255, 255, 255, .87);
$whiteTextSecondary: rgba(255, 255, 255, .54);
$whiteHint: rgba(255, 255, 255, .26);
$whiteDivider: rgba(255, 255, 255, .12);

$toolbarPrimaryHeight: 50px;
$toolbarSecondaryHeight: 35px; 

@mixin toolbar($height, $color) {
	width: 100%;
	height: $height;
	background-color: $color;
	display: block;
}

@mixin circle($radius, $color) {
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, .2);
	background-color: $color;
	border-radius: 50%;
	width: $radius;
	height: $radius;
	display: block;
}

$zindex: (
	modal: 1000,
	top: 900,
	toolbarPrimary: 500,
	toolbarSecondary: 400,
	hover: 300
);

/** REMOVE **/
$colorText: #000;
$colorTextInverse: #fff;
$colorIcon: #fff;