$lightGray: #e8e8e8;
$bgGray: #f1f1f1;
$bgBlue: blue;
$bgAccent: #ff9e80;


$borderColor: $lightGray;
$bgColor: $bgGray;

$hoverOpacity: .7s;

/***** SASS *****/
$teal500: #009688;
$teal900: #004d40;
$teal100: #b2dfdb;

$indigo500: #3f51ba;
$indigo900: #1a237e;
$indigo200: #9fa8da;

$deepOrange500: #ff5722;
$deepOrangeA100: #ff9e80;
$deepOrange700: #dd2c00;

$colorPrimary: $teal500;
$colorPrimaryDark: $teal900;
$colorPrimaryLight: $teal100;

$colorAccent: $deepOrange500;
$colorAccentLight: $deepOrangeA100;
$colorAccentDark: $deepOrange700;

$blackText: rgba(0, 0, 0, .87);
$blackTextSecondary: rgba(0, 0, 0, .54);
$blackHint: rgba(0, 0, 0, .26);
$blackDivider: rgba(0, 0, 0, .12);

$whiteText: rgba(255, 255, 255, .87);
$whiteTextSecondary: rgba(255, 255, 255, .54);
$whiteHint: rgba(255, 255, 255, .26);
$whiteDivider: rgba(255, 255, 255, .12);

$toolbarPrimaryHeight: 45px;
$toolbarSecondaryHeight: 35px; 

@mixin toolbar($height, $color) {
	width: 100%;
	height: $height;
	background-color: $color;
	display: block;
}

/** REMOVE **/
$colorText: #000;
$colorTextInverse: #fff;
$colorIcon: #fff;