/***** GENERAL *****/
@font-face {
	font-family: 'Roboto';
	src: url('../files/fonts/Roboto-Regular.ttf');
}

@font-face {
	font-family: 'VentureLogo';
	src: url('../files/fonts/telavision.ttf');
}

html,
body,
ui-view {
	width: 100%;
	height: 100%;
}

body {
	background-color: $bgPrimary;
	padding-top: $toolbarPrimaryHeight;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}

a,
a:hover,
a:active,
a:focus {
	text-decoration: none;
	outline: 0 none;
}

input {
	background-color: transparent;
	border: 0 none;
	border-bottom: 2px solid $colorAccent;
	padding: 0 5px;
	height: 25px;
	color: $colorText;
}

/***** Extend *****/
.left {
	float: left;
}

.right {
	float: right;
}

.hover {
	cursor: pointer;
}

.container {
	position: relative;
	width: 100%;
	height: inherit;
	max-width: 1000px;
	display: block;
	margin: 0 auto;
}

.inline {
	display: inline-block;
	vertical-align: top;
}

.shadow {
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}









.formSubmit {
	font-weight: bold;
	height: 32px;
	background-color: $colorAccent;
	border: 0 none;
	color: #fff;
	cursor: pointer;
}

.tile {
	
}

.tile-hover {
	box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.2s);
	position: relative;
	z-index: map-get($zindex, hover);
}




