.form-group {
	
	margin: $gridUnit * 4 auto;
	
	&:first-child input {
		font-size: 1.3em;
	}

	label,
	input,
	textarea {
		display: block;
		width: 100%;
	}
	
	label {
		font-size: .9em;
	}
	
	input,
	textarea {
		border-width: 0 0 2px 0;
		border-style: solid;
		border-color: $colorAccent;
		background: none;
	}
	
	input {
		text-indent: $gridUnit;
	}
}

.form-button {
	@extend .hover;
	@extend .transition;
	
	border: 0;
	
	padding: $gridUnit $gridUnit * 2;
	
	
	&.cancel {
		background-color: $windowBackground;
	}
	
	&.submit {
		color: $textColorPrimary;
		background-color: $colorAccent;
		
		&:disabled {
			background-color: $colorAccentLight;
		}	
	}
}



/*
.form-switch {
	position: relative;
	width: 69px;
	user-select: none;
	
	.checkbox {
		display: none;
		
		&:checked + .label .inner {
			margin-left: 0;
		}
		
		&:checked + .label .switch {
			right: 0;
		}
	}
	
	.label {
		display: block;
		overflow: hidden;
		cursor: pointer;
		border-radius: 50%;
		
		.inner {
			display: block;
			width: 200%;
			margin-left: -100%;
			transition: margin 0.3s ease-in 0s;
			
			&:before,
			&:after {
				display: block;
				float: left;
				width: 50%;
				height: 5px;
				padding: 0;
				line-height: 5px;
				font-size: 14px;
				color: #fff;
				box-sizing: border-box;
			}
			
			&:before {
				content: '';
				padding-left: 10px;
				background-color: #2fccff;
				color: #fff;
			}
			
			&:after {
				content: '';
				padding-right: 10px;
				background-color: #fff;
				color: #999;
			}
		}
		
		.switch {
			display: block;
			width: 24px;
			margin: -9.5px;
			background: #fff;
			border-radius: 50%;
			position: absolute;
			top: 0;
			bottom: 0;
			right: 60px;
			transition: all 0.3s ease-in 0s;
			
		}
	}
}
*/


/*

    .onoffswitch {
    position: relative; width: 69px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    }
    .onoffswitch-checkbox {
    display: none;
    }
    .onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #999999; border-radius: 16px;
    }
    .onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0s; -webkit-transition: margin 0.3s ease-in 0s;
    -o-transition: margin 0.3s ease-in 0s; transition: margin 0.3s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 5px; padding: 0; line-height: 5px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }
    .onoffswitch-inner:before {
    content: "";
    padding-left: 10px;
    background-color: #2FCCFF; color: #FFFFFF;
    }
    .onoffswitch-inner:after {
    content: "OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
    }
    .onoffswitch-switch {
    display: block; width: 24px; margin: -9.5px;
    background: #FFFFFF;
    border: 2px solid #999999; border-radius: 16px;
    position: absolute; top: 0; bottom: 0; right: 60px;
    -moz-transition: all 0.3s ease-in 0s; -webkit-transition: all 0.3s ease-in 0s;
    -o-transition: all 0.3s ease-in 0s; transition: all 0.3s ease-in 0s;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
    }
    
    
*/